.ps-button {
    display: flex;
    justify-content: space-around;
}
.ps-button button {
    background-color: #F1E9A8;
    border: 1px solid #111827;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin: 0 8px 0 0;
    transition: background-color 0.5s ease-in-out, border 0.5s ease-in-out;
}

.ps-button input {
    background-color: #EFDA9A;
}


.ps-button button:hover {
    background-color: #A6D6AE;
    border: 1px solid #F1E9A8;
    color: #fff;
}



.ps-button #party-size {
    color: #5c8394;
    font-weight: 800;
    font-size: 22px;
    width: 90px;
    border: none;
    text-align: center;
}