.first-section {
    background-color: #ED6A5A;
    height: 110vh;
    padding-top: 60px;
}

.first-section h1 {
    text-align: center;
    font-family: "Luckiest Guy",cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.first-section .cards {
    display: flex;
    flex-direction: row;
    justify-items: center;
    padding: 20px 2rem;
    gap: 30px;
}

.testimonies {
    background-color: #F1E9A8;
    padding: 4rem 2rem;
}

.testimonies h1 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.testimonies .description {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    margin-top: 20px;
    width: 90%;
}

.testimonials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin-top: 20px;
}



@media (max-width: 620px) {
    .first-section {
        height: 270vh;
    }

    .first-section .cards {
        display: flex;
        flex-direction: column;
    }

    .testimonials {
        grid-template-columns: repeat(2, 1fr);
    }
}

