header {
    padding: 0 60px;
}

main {
    padding: 0 60px;
}

h1 {
    color: #5c8394;
}

h2 {
    color: #4A628A;
}

h3 {
    color: #3FA2F6;
}

#sd-head {
    color: #DE8F5F;
}

p {
    font-weight: 600;
    line-height: 26px;
}

.specials {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

