.testimony-card {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #E5DD9F;
    height: auto;
    padding: 3rem 1.2rem;
    border-radius: 8px;
    gap: 5px;
    transition: border 0.3s ease-in-out;
}

.testimony-card:hover {
    border: 2px solid #705DE5;
}

.testimony-card img {
    width: 58px;
    height: 55px;
    border-radius: 50%;
}

.testimony-card .opinion {
    font-size: 20px;
}

