footer {
    background-color: #A6D6AE;
    padding: 1.5rem 2rem;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}