nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #F1E9A8;
    width: 100%;
    height: 65px;
}

nav #logo {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    color: black;
    cursor: pointer;
    display: inline-block;
    width: 160px;
    height: 30px;
    white-space: nowrap;
    padding: 0 2rem;
}

nav .links {
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 0 2rem 0 0;
}

nav .links li {
    list-style-type: none;
}

nav .link a {
    text-decoration: none;
    color: #111827;
    font-family: "Quicksand",sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-color: #fff;
    padding: 8px 15px;
    border-radius: 8px;
    transition: border 0.3s ease-in-out;
}

nav .link a:hover,#toggle-menu:hover {
    border: 2px solid #705DE5;
}

#toggle-menu {
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    display: none;
}



@media (max-width: 620px) {
    #logo {
        padding: 0 0;
        width: 20px;
    }

    nav .open-toggle {
        display: flex;
        flex-direction: column;
        gap: 19px;
        position: absolute;
        top: 60px;
        right: 0;
        width: 110px;
        z-index: 4;
    }

    nav .close-toggle {
        display: none;
    }


    #toggle-menu {
        display: block;
        padding: 0 10px;
        margin-right: 5px;
    }
}

@media (max-width: 422) {
    nav {
        width: 100%;
    }
}