nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #18181B;
    padding: 15px 90px;
}

nav img {
    width: 60px;
    height: 60px;
    cursor: pointer;
}

nav .links {
    width: 500px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

nav .links li {
    list-style-type: none;
}

nav .link a {
    text-decoration: none;
    color: #fff;
}