.policy-content {
    background-color: #B1C29B;
    padding: 3rem 2rem;
}

.policy-content h1 {
    font-family: "Luckiest Guy", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin-bottom: 20px;
}

.policy-content p {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;
    line-height: 1.6;
}